html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

canvas {
    display: block;
}

#gameOverlay {
    position: fixed;
    top: 5%;
    right: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.coinsDisplay {
    margin-bottom: 10px;
    font-weight: bold;
}

.starContainer {
    display: flex;
    gap: 10px;
}

.star {
    width: 50px;
    height: 50px;
    background-color: #afa1a1;
    clip-path: polygon(
            50% 0%, 61% 35%, 98% 35%,
            68% 57%, 79% 91%, 50% 70%,
            21% 91%, 32% 57%, 2% 35%,
            39% 35%
    );
}

.star.gold.filled {
    background-color: #bfa00b;
    border-color: black;
}