body, html {
    height: 100%;
    margin: 0;
}

.main-bg {
    background-image: url('../assets/images/background.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.semicircle {
    font-size: 3rem; /* Zvýši veľkosť písma */
    text-align: center; /* Zarovná text na stred */
    font-weight: bold; /* Zvýši tučnosť písma */
    position: relative;
    display: inline-block;
}